.gridOne {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.gridTwo {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

.gridTwo > .one {
    background-color: red;
}

.gridTwo > .two {
    background-color: blue;
}

.gridTwo > .three {
    background-color: yellow;
}

.gridThree {
    display: grid;
    grid-template-rows: 1fr 3fr;
    width: 500px;
    height: 300px;
    background-color: #F0F3F4;

}

.gridThree img {
    width: 500px;
    height: 225px;
    object-fit: cover;
}

.gridFour {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 500px;
    background-color: green;
}

#second_child {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gridFive {
    display: grid;
    grid-row: 1fr 1fr;
    width: 500px;
    background-color: #F0F3F4;
}

.gridFive > .daughter {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.daughter img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.gridSix {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 500px;
    background-color: lightgray;
}

.gridSix p {
    font-family: 'Protest Strike', sans-serif;
}
